pipeline/airpollutionpipeline.json
{
	"name": "airpollutionpipeline",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://ds598kv.vault.azure.net/secrets/openweatherAPIkeynew/?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json3",
						"type": "DatasetReference",
						"parameters": {
							"lat": 42.361145,
							"lon": -71.057083,
							"start": "@div(sub(ticks(addDays(utcNow(), add(-7, mul(item(), -7)))),     ticks('1970-01-01T00:00:00Z')), 10000000)",
							"end": "@div(sub(ticks(addDays(utcNow(), mul(item(), -7))),     ticks('1970-01-01T00:00:00Z')), 10000000)",
							"datatype": "\"hour\""
						}
					}
				]
			}
		],
		"annotations": []
	}
}